global/.terraform.lock.hcl
global/.terraform/providers/registry.terraform.io/hashicorp/aws/6.22.1/windows_amd64/LICENSE.txt
global/.terraform/providers/registry.terraform.io/hashicorp/aws/6.22.1/windows_amd64/terraform-provider-aws_v6.22.1_x5.exe
global/terraform.tfstate
