name: "Terraform Apply"

on:
  workflow_call:
    inputs:
      aws_region:
        type: string
        required: true

    secrets:
      access_key:
        required: true
      secret_key:
        required: true
      session_token:
        required: true

jobs:
  terraform_apply:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.access_key }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.secret_key }}
      AWS_SESSION_TOKEN: ${{ secrets.session_token }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Download Plan
        uses: actions/download-artifact@v4
        with:
          name: tfplan-artifact

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
