name: "Infra Deployment Orchestrator"

on:
  workflow_call:
    inputs:
      role_arn:
        required: true
        type: string
      aws_region:
        required: true
        type: string

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"

permissions:
  id-token: write
  contents: read

jobs:

  # ---- Stage 1: AWS Auth ----
  creds:
    uses: unfettered-one/Infra/.github/workflows/aws_creds.yml@feat/pipeline
    with:
      role_arn: ${{ inputs.role_arn }}
      aws_region: ${{ inputs.aws_region }}

  # ---- Stage 2a: Terraform Plan ----
  plan:
    needs: creds
    uses: unfettered-one/Infra/.github/workflows/plan.yml@feat/pipeline
    with:
      aws_region: ${{ inputs.aws_region }}

  # ---- Stage 2b: Terraform Apply ----
  apply:
    needs: plan
    uses: unfettered-one/Infra/.github/workflows/apply.yml@feat/pipeline
    with:
      aws_region: ${{ inputs.aws_region }} 
