name: "Infra Deployment Orchestrator"

on:
  workflow_call:
    inputs:
      role_arn:
        required: true
        type: string
      aws_region:
        required: true
        type: string

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"

jobs:

  # ---- Stage 1: AWS Auth ----
  creds:
    uses: unfettered-one/Infra/.github/workflows/creds/aws_creds.yml
    with:
      role_arn: ${{ inputs.role_arn }}
      aws_region: ${{ inputs.aws_region }}

  # ---- Stage 2a: Terraform Plan ----
  plan:
    needs: creds
    uses: unfettered-one/Infra/.github/workflows/deploy/plan.yml
    with:
      aws_region: ${{ inputs.aws_region }}

  # ---- Stage 2b: Terraform Apply ----
  apply:
    needs: plan
    uses: unfettered-one/Infra/.github/workflows/deploy/apply.yml
    with:
      aws_region: ${{ inputs.aws_region }} 
